extends layout.pug

block entete
    h2 
        a(href= '/enclos') Retour

block content
    h2 Ajouter un nouvel enclos

    form(method='POST' action='/enclos')
        div.form-group
            label(for='name') Nom :
            input#name.form-control(type='text', placeholder='Nom enclos' name='name')
        div.form-group
            label(for='taille') Taille :
            input#taille.form-control(type='text', placeholder='Taille enclos' name='taille')
        div.form-group
            label(for='environnement') Environnement :
            input#environnement.form-control(type='text', placeholder='Environnement enclos' name='environnement')
        button.btn.btn-primary(type='submit') Creer un nouvel enclos