extends layout.pug

block entete
    h2
        .row
            .col-md-6
                a(href='/AddMonkey') Ajouter un singe
        .row
            .col-md-6
                 a(href='/') Retour menu
    
    
block content
    h1 Tous les singes enregistres:
    ul
        each monkey in obj
            h2
                - var url = '/monkeys/' + monkey.id
                a(class='button' href= url) #{monkey.name}
                